<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<a href="/signup">Register </a></br>
		<a href="/login">Login in </a>
  </body>
</html>
